.selection_box {
    background-color: #E5E5E5;
    border-radius: 1rem;
    width: 90%;
    margin: auto;
  }

#description1 {
  min-width: 60vh;
  align-items: center;
}

#description2 {
  min-width: 60vh;
  align-items: center;
}

#description3 {
  min-width: 60vh;
  align-items: center;
}